server:
  port: 8081

spring:
  application:
    name: ACTION-SERVICE
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
        group:
          enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8090/eureka/

resilience4j:
  circuitbreaker:
    instances:
      QUERY-SERVICE:
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        slidingWindowSize: 10
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3

management:
  endpoints:
    web:
      exposure:
        include: "*"